.Button12 {
  position: relative;
  padding: 2em 4em;
  margin: auto;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 4px;
  border: none;
  background: linear-gradient(90deg, #0162c8, #55e7fc);
  white-space: nowrap;
  padding: auto;
}
input[type="radio"] {
  display: none;
}

input[type="text"] {
  width: 100%;
  height: 2em;
  border-radius: 0.4em;
  text-align: center;
  color: black;
  border: 5px solid white;
  box-sizing: border-box;
  font-size: 4vw;
  margin: 1em auto;
  padding: auto;
}
.Pickup {
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  width: 70%;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 1em auto;
}
.Confirm {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: auto;
}
label {
  position: relative;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 3.5vw;
  border: 2px solid;
  border-radius: 5px;
  display: block;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 0.3em 1em;
  padding: 0.2em 0.75em;
}

input[type="radio"]:checked + label {
  background-color: #cc3b01;
  color: white;
}
input[type="radio"]:checked + label:before {
  height: 16px;
  width: 16px;
  border: 5px solid white;
  background-color: #cc3b01;
}
.rackid {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0;
  padding-right: 0;
  border: none;
  text-align: right;
  font-size: 3.5vw;
}
.fname {
  margin-left: auto;
  font-size: 4vw;
}
.Drop {
  margin-bottom: 1em;
  display: block;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  font-size: 4vw;
}
@media screen and (max-width: 845px) {
  .inputdata {
    display: block;
    background-color: rgb(145, 138, 138);
    margin: 1em 1em;
    border-radius: 1em;
    padding: 1em 1em;
  }
  .Drop {
  }
  input[type="text"] {
    width: 100%;
    // height: 3em;
    font-size: 6vw;
    border-radius: 0.4em;
    text-align: center;
    margin: auto;
    color: black;
    border: 5px solid white;
    box-sizing: border-box;
  }
  label {
    position: relative;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 6vw;
    border: 2px solid;
    border-radius: 10px;
    display: block;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 0.7em 1em;
    padding: 0.4em 0.75em;
  }
}
