.main-access {
    z-index: 0;
    display: inline;
    align-items:center;
    .container {
      position: relative;
      align-items:center;
      img {
        align-items: center;
        width: 100%;
        height: 50%;
      }
      ul {
        color: rgb(145, 138, 138);
        display: grid;
        padding-left: 0.1em;
        align-items: center;
        position: relative;
        margin: auto;
        li {
            width: 80%;
          margin: auto;
          margin-top: 2em;
          margin-bottom: 2em;
          text-align: center;
          list-style-type: none;
          border-radius: 0.5em;
          padding: 2em 3em;
          border: 0.2em solid rgb(141, 132, 132);
          box-sizing: border-box;
          background-color: rgb(144, 148, 147);
          a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            align-items: center;
            font-size: 2em;
          }
        }
      }
      }
    }
  
 
  
  